/* Provide sufficient contrast against white background */
a {
    color: #0b6cdb;
  }
  
  code {
    color: #c0246d;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  